{% load dashboards %}
{% random_ms_delay as delay %}
{% if is_deferred and htmx %}
    <div hx-get="{{ defer_url }}"
         hx-trigger="{{ trigger_on }}intersect once{% if poll_rate %}, {{ poll_rate }}{% endif %} delay:{{ delay }}">
        <div class="htmx-indicator">
            {% include defer_loading_template_name %}
        </div>
    </div>
{% else %}
    {% if cta %}<a href="{{ cta|cta_href:object }}">{% endif %}
        <div id="component-{{ template_id }}-inner" class="dashboard-component-inner fade-in">
            {{ rendered_value }}
        </div>
    {% if cta %}</a>{% endif %}
{% endif %}

