{% spaceless %}
  <form hx-{{ rendered_value.method }}="{{ rendered_value.action }}?key={{ component.template_id }}" hx-trigger="{{ component.trigger }}" hx-swap="outerHTML" hx-target="#component-{{ component.template_id }}-inner">
    <table class="{{ component.css_classes.table }}">
      <tbody>
      {{ rendered_value.form.as_table }}
      {% if component.trigger == "submit" %}
        <tr>
          <td>&nbsp;</td>
          <td>
            <input type="submit" value="Submit" class="{{ component.css_classes.button }}"/>
          </td>
        </tr>
      {% endif %}
      </tbody>
    </table>
  </form>
{% endspaceless %}