{% extends "wildcoeus/pipelines/pipeline.html" %}
{% load pipelines %}
{% load humanize %}
{% block content_title %}Current Pipelines ({{ pipelines|length }}){% endblock content_title %}
{% block breadcrumbs %}
  {{ block.super }}
    / Pipeline List
{% endblock breadcrumbs %}
{% block content %}
  <table class="table table-striped">
    <tr>
      <th>Pipeline</th>
      <th>Tasks</th>
      <th>Runs</th>
      <th>Last Ran</th>
      <th>Avg Runtime</th>
    </tr>
    {% for pipeline in pipelines %}
      <tr>
        <td>
          {{ pipeline }}<br />
          <small>{{ pipeline.id }}</small>
        </td>
        <td>{{ pipeline.tasks|length }}</td>
        <td>
          <a href="{% url "wildcoeus.pipelines:pipeline-execution-list" pipeline.id %}" class="btn btn-success">
            {{ runs|lookup:pipeline.id|default_if_none:0 }}
          </a>
        </td>
        <td>{{ last_ran|lookup:pipeline.id|naturaltime }}</td>
        <td>{{ average_runtime|lookup:pipeline.id|duration|default_if_none:"N/A" }}</td>
        <td>
          <a href="{% url "wildcoeus.pipelines:start" pipeline.id %}" class="btn btn-success">run</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

