{% extends "wildcoeus/pipelines/pipeline.html" %}
{% block content_title %}Pipeline Executions{% endblock content_title %}
{% block content %}
  <table class="table">
  <thead>
  <tr>
    <th>Pipeline</th>
    <th>Tasks</th>
    <th>Started On</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <a href="{% url "wildcoeus.pipelines:results" object.run_id %}">{{ object.pipeline_id }}</a>
          <p><small>- {{ object.run_id }}</small></p>
        </td>
        <td>{{ object.task_count|default_if_none:"0" }}</td>
        <td>{{ object.started|default_if_none:"NOT STARTED" }}</td>
        <td>{{ object.get_status_display }}</td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}

