{% extends "wildcoeus/pipelines/pipeline.html" %}
{% load pipelines %}
{% block content_title %}Start Pipeline: {{ pipeline }}{% endblock content_title %}
{% block breadcrumbs %}
  {{ block.super }}
    / {{ pipeline }} / Run
{% endblock breadcrumbs %}
{% block content %}

  <p>The following tasks will be ran:</p>
  <ol>
  {% for item in tasks %}
    <li>{{ item.0 }}: {{ item.1.title }}</li>
  {% endfor %}
  </ol>

  <p>{% if form.fields %}Fill in any required data and {% endif %}press Start to run the pipline.</p>
  <form method="post">
  {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="start" class="btn btn-success">Start</button>
  </form>

{% endblock %}