#
# Project requirements
#

# Core
django
django-cors-headers
django-asset-definitions

# Charts
pandas
plotly
plotly_express

# Dev tools
Faker
ipython
ipdb
pip-tools
pre-commit
typing_extensions
setuptools

# Testing
django-webtest
model-bakery
py
pytest
pytest-black
pytest-celery
pytest-cov
pytest-django
pytest-isort
pytest-flake8
pytest-freezegun
pytest-mypy
snapshottest

# Documentation
sphinx
sphinx_rtd_theme
furo

exceptiongroup
