{% load wildcoeus %}

<div class="menu">
    {% dashboard_menus %}
    <nav role="navigation">
        <ul class="menu">
          {% for section, items in sections.items %}
            <li class="{% if section == active_section %}active{% endif %}">
                <a href="#">{{ section }}</a>
                <ul class="dropdown">
                    {% for item in items %}
                        <li class="{% if item.selected %}active{% endif %}">
                            <a href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <hr/>
</div>