{% with "data_"|add:component.key as data_key %}
    <script type="module">
        var data_{{ component.key }} = {{rendered_value|safe}};

        Plotly.newPlot(
            '{{ component.key }}',
            data_{{ component.key }}.data,
            data_{{ component.key }}.layout,
            {
                showLink: false,
                responsive: {{ component.responsive|yesno:"true,false" }}
            },
        );
    </script>
{% endwith %}

<div id="{{ component.key }}" class="{{ component.css_classes }}"></div>


