<div class="{{ css }}">
  <div class="card {{ card_css }}">
    {% if heading %}
    <div class="d-flex card-header justify-content-between align-items-center">
      <h4 class="header-title">{{ heading }}</h4>
      {% if actions %}
      <div class="dropdown">
        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="mdi mdi-dots-vertical"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end" style="">
          {% for a in actions %}
          <a href="{{a.0}}" class="dropdown-item">{{a.1}}</a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}
    {% if image_url %}
        <img class="card-img-top" src="{{image_url}}" alt="{{ element_id }}">
    {% endif %}
    <div class="card-body{% if heading %} card-heading{% endif %}">
      {{ components }}
    </div>
    {% if footer %}
      <div class="card-footer">{{ footer }}</div>
    {% endif %}
  </div>
</div>