{% extends "datorum/base.html" %}
{% load datorum %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}{{ title }}{% endblock %}

{% block content %}
    {# Q could make this a template tag #}
    {% render_component component=dashboard.text_example htmx=False %}
    <hr/>
    {% render_component component=dashboard.html_example htmx=False %}
    <hr/>
    {% render_component component=dashboard.calculated_example htmx=True %}
    <hr/>
    {% render_component component=dashboard.chart_example htmx=True %}
    <hr/>
    <div style="display: flex;">
        <div style="flex: 1;">
            {% render_component component=dashboard.line_chart_example htmx=True %}
\        </div>
        <div style="flex: 1;">
            {% render_component component=dashboard.stat_three htmx=True %}
        </div>
    </div>
{% endblock %}