<div id="{{ component.key }}">
  <table id="{{ component.key }}_table"></table>
</div>

{% with data_key="data_"|add:component.key columns_key="columns_"|add:component.key %}
  {% if not component.is_deferred %}
    {{ rendered_value|json_script:data_key }}
  {% endif %}
  {{ component.columns|json_script:columns_key }}
  <script>
      var columns_{{ component.key }} = JSON.parse(document.getElementById('{{ columns_key }}').textContent);

      {% if not component.is_deferred %}
          let data_{{ component.key }} = JSON.parse(document.getElementById('{{ data_key }}').textContent);
          let rows_{{ component.key }} = data_{{ component.key }}.data;

          var options = {
              data: rows_{{ component.key }},
              columns: columns_{{ component.key }},
              pageLength: {{ component.page_size|default:25 }},
          }

      {% else %}
          var options = {
              destroy: true,
              responsive: true,
              processing: true,
              serverSide: true,
              columns: columns_{{ component.key }},
              pageLength: {{ component.page_size|default:25 }},
              ajax: {
                  url: "{{ component.get_absolute_url }}",
                  contentType: "application/json",
              }
          }
      {% endif %}

      var table_{{ component.key }} = $('#{{ component.key }}_table').DataTable(options);
  </script>
{% endwith %}


