<div id="{{ component.key }}"></div>

{% with "data_"|add:component.key as data_key %}
    {% if not component.is_deferred %}
        {{ rendered_value|json_script:data_key }}
    {% endif %}
    <script>
        {% if not component.is_deferred %}
        let data_{{ component.key }} = JSON.parse(document.getElementById('{{ data_key }}').textContent);
        let rows_{{ component.key }} = data_{{ component.key }}.rows;
        {% endif %}

        /*
        TODO for more control, the data provided to the component could be
        */
        let table_{{ component.key }} = new Tabulator("#{{ component.key }}", {
            {% if component.is_deferred %}
            "sortMode": "remote",
            "ajaxURL":"{{ component.get_absolute_url }}?key={{ component.key }}",
            "paginationMode": "remote",
            "ajaxResponse": function(url, params, response){
                return {"data": response.rows, "last_page": response.last_page};
            },
            {% else %}
            "data": rows_{{ component.key }},
            {% endif %}
            "pagination": true,
            "autoColumns": true,
            "layout": "fitColumns",
            "paginationSize": {{ component.page_size }},
        });
    </script>
{% endwith %}


