.dashboard-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  text-align: center;
  width: 100%;
}

h1, h2, h3, h4, p, .tab-container {
  grid-column: 1 / 13;
}

.card{
  border-radius: 15px;
  background-color: var(--dark-two);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.card *{
    /* allow sub nesting, by assuming not set is 12 */
    grid-column-end: span 12;
}

.tab-content div.active .card{
    border-radius: 0 15px 15px 15px;
}

.dashboard-component-inner {
  padding: 2rem;
}

.dashboard-component-cta {
  color: var(--off-black);
  text-decoration: none;
  font-size: 1.3rem;
}

.tabs{
  border-top: 2px var(--off-black) solid;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  padding: 0;
  padding-top: 35px;
  list-style: none;
}

.tabs div, .tabs .tab{
    background-color: var(--dark-two);
    padding: 10px 20px;
}

.tabs div a, .tabs .tab a{
    color: var(--white);
}

.tabs div a.active, .tabs .tab a.active{
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}

.dataTables_filter, .dataTables_length, .dataTables_info, .dataTables_paginate{
    color: var(--white) !important;
    font-size: 0.9rem !important;
    margin-bottom: 10px;
}

.dataTables_length select{
    color: var(--white) !important;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 0.8rem;
}
.table thead th {
    background-color: var(--dark-one);
    padding: 1rem;
    text-align: left;
    text-shadow: 1px 1px 1px var(--white);;
}
.table tbody td {
    border: solid 1px var(--dark-one);
    padding: 10px;
}

.customComponent{
    background-color: var(--primary);
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px;
    font-size: 0.8em;
}

.gauge-container{
    margin: auto;
    max-width: 65%;
}

.card {
    position: relative;
    height: 100%;
}

.card .card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    background-color: var(--dark-three);
    padding: 1rem;
    border-bottom: solid 1px rgba(154, 161, 171, 0.15);
    border-bottom: solid 1px var(--shadow);
}

.card .card-header .header-title {
    flex: 1 1 auto;
    font-size: 1.2em;
}

.card .card-header .dropdown {
    position: relative;
    display: inline-block;
}

.card .card-header .dropdown .dropdown-btn {
  color: white;
  padding: 6px;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

.card .card-header .dropdown .dropdown-content {
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.card .card-header .dropdown .dropdown-content a {
  color: black;
  font-size: 1em;
  padding: 12px 16px;
  -webkit-text-decoration: none;
  text-decoration: none;
  display: block;
}

.card .card-header .dropdown .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.card .card-img {
    width: 100%;
}

.card .card-body {
    padding: 5px;
}

.card-body-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10px;
}

.card .card-body p {
    font-size: 1rem;
}

.card .card-footer {
    flex: 1 1 auto;
    padding: 5px;
    font-size: 0.75em;
    background-color: var(--dark-three);
}