{% load pipelines %}
{% for obj in object_list %}
  {% if obj.results.all|length == 1 %}
    {% include "wildcoeus/pipelines/includes/task-result-listing.html" with object_list=obj.results.all %}
  {% else %}
    <li class="result {% status_class obj.status %}">
      <input class="pipeline-results-hide-toggle"
             type="radio"
             name="filter"
             value="TaskExecution-{{ obj.id }}"
             id="id-toggle-open-task-execution-{{ obj.id }}"
             hx-get="{% url "wildcoeus.pipelines:logs-filter" obj.run_id %}"
      />
      <label for="id-toggle-open-task-execution-{{ obj.id }}">
        <strong>{{ obj.pipeline_task }} ({{ obj.task_id }})</strong>
        {% if obj.pipeline_object is not None %}<em>for {{ obj.pipeline_object }}</em>{% endif %}
        <span>: {% status_text obj.status %} ({% duration_display obj.started obj.completed %})</span>
      </label>
      <ul class="pipeline-results-toggleable-content pipeline-results-list">
        {% include "wildcoeus/pipelines/includes/task-result-listing.html" with object_list=obj.results.all %}
      </ul>
    </li>
  {% endif%}
{% endfor %}