{% extends "dashboards/base.html" %}
{% load static %}
{% load dashboards %}

{% block dashboards_js %}
    {{ block.super }}
    {% include "dashboards/includes/static/js.html" %}
    <!-- dashboard defined js -->
    {{ dashboard.media.js.render }}
    <!-- end dashboard defined js -->
{% endblock %}

{% block dashboards_style %}
    {{ block.super }}
    <!-- dashboard defined css -->
    {{ dashboard.media.css.render }}
    <!-- end dashboard defined css -->
{% endblock %}

{% block body %}
    {% include "demo/menu.html" %}

    {% block content_title %}
        <h2>{{ dashboard.get_meta.verbose_name }}</h2>
    {% endblock content_title %}

    {% block content %}
        <div class="dashboard-container">
            {% render_dashboard dashboard %}
        </div>
    {% endblock %}

{% endblock %}