.menu ul {
  background: #ffffff;
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  z-index: 2;
}

.menu li {
  color: var(--off-black);
  background: var(--grey);
  display: block;
  float: left;
  padding: 0.5rem 2rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.menu li a {
  color: #1e1e1e;
}

.menu li.active, .menu li ul li.active {
  background: #bcced5;
}

.menu li:hover,
.menu li:focus-within {
  background: #bcced5;
  cursor: pointer;
}

.menu li:focus-within a {
  outline: none;
}

.menu ul li ul {
  background: #ffffff;
  visibility: hidden;
  opacity: 0;
  min-width: 3rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 0.5rem;
  left: 0;
  display: none;
}

.menu ul li:hover > ul,
.menu ul li:focus-within > ul,
.menu ul li ul:hover,
.menu ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.menu ul li ul li {
  clear: both;
  width: 100%;
  padding: 0;
}

.menu ul li ul li a {
  display: block;
  padding: 0.5rem 2rem;
}