:root {
  --shadow: rgba(154, 161, 171, 0.15);
  --off-black: #1e1e1e;
  --grey: #ececec;
  --white: #fff;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-size: 1.2em;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Helvetica Neue';
}

body {
  padding: 1em;
  margin: 0 auto;
  max-width: 95%;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5em 0;
  line-height: 1.2;
  letter-spacing: -.02em;
}

.dashboard-container, .tab-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  text-align: center;
}

.dashboard-component{
  box-shadow: 0 0 35px 0 var(--shadow);
}

.dashboard-component-inner {
  padding: 1em;
}

.dashboard-component-cta {
  background-color: var(--shadow);
  color: var(--off-black);
  text-decoration: none;
  font-size: 1.3rem;
}

/* use a lib or generate all the variants with scss for... */

.span-3 {
  grid-column-end: span 3;
  grid-auto-rows: min-content;
}

.span-4 {
  grid-column-end: span 4;
  grid-auto-rows: min-content;
}

.span-6 {
  grid-column-end: span 6;
  grid-auto-rows: min-content;
}

.span-8 {
  grid-column-end: span 8;
  grid-auto-rows: min-content;
}

.span-9 {
  grid-column-end: span 9;
  grid-auto-rows: min-content;
}

.span-12 {
  grid-column-end: span 12;
  grid-auto-rows: min-content;
}

.fade-in.htmx-added {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.tabs{
  display: flex;
  margin: 0;
  padding: 0;
}

.tab-link {
  background-color: #ffffff;
  list-style: none;
  padding: 1rem;
}

a{
  color: #000000;
  font-size: 1.1rem;
  box-shadow: 0 0 35px 0 var(--shadow);
}

a.active {
  border-bottom: 1px solid green;
}

.menu ul {
  background: #ffffff;
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  z-index: 2;
}

.menu li {
  color: var(--off-black);
  background: var(--grey);
  display: block;
  float: left;
  padding: 0.5rem 2rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.menu li a {
  color: #1e1e1e;
}

.menu li.active, .menu li ul li.active {
  background: #bcced5;
}

.menu li:hover,
.menu li:focus-within {
  background: #bcced5;
  cursor: pointer;
}

.menu li:focus-within a {
  outline: none;
}

.menu ul li ul {
  background: #ffffff;
  visibility: hidden;
  opacity: 0;
  min-width: 3rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 0.5rem;
  left: 0;
  display: none;
}

.menu ul li:hover > ul,
.menu ul li:focus-within > ul,
.menu ul li ul:hover,
.menu ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.menu ul li ul li {
  clear: both;
  width: 100%;
  padding: 0;
}

.menu ul li ul li a {
  display: block;
  padding: 0.5rem 2rem;
}


.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 0.8rem;
}
.table thead th {
    background-color: var(--grey);
    border: solid 1px var(--shadow);
    color: var(--off-black);
    padding: 1rem;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.table tbody td {
    border: solid 1px var(--shadow);
    color: var(--off-black);
    padding: 10px;
}

/* pipeline styles */
.pipeline-logs {
  background-color: var(--off-black);
  padding: 5px;
  color: var(--grey);
  height: 50vh;
  overflow: auto;
}

.breadcrumbs{
    background-color: var(--grey);
    border: solid 1px var(--shadow);
    color: var(--off-black);
    padding: 1rem;
    margin-bottom: 15px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}

.text-bg-primary {
    color: #fff!important;
    background-color: RGBA(13,110,253,1)!important;
}

.text-bg-success {
    color: #fff!important;
    background-color: RGBA(25,135,84,1)!important;
}

.text-bg-danger {
    color: #fff!important;
    background-color: RGBA(220,53,69,1)!important;
}

.result-success {
    --table-color: #000;
    --table-bg: #d1e7dd;
    --table-border-color: #bcd0c7;
}

.result-pending {
    --table-color: #000;
    --table-bg: #E7DFD1FF;
    --table-border-color: #E7DFD1FF;
}

.result-danger {
    --table-color: #000;
    --table-bg: #f8d7da;
    --table-border-color: #dfc2c4;
}

.result-primary {
    --table-color: #000;
    --table-bg: #cfe2ff;
    --btable-border-color: #bacbe6;
}

.result-cancelled {
    --table-color: #000;
    --table-bg: var(--grey);
    --btable-border-color: var(--grey);
}

.result {
    color: var(--table-color);
    border-color: var(--table-border-color);
    background-color: var(--table-bg);
}

.result label {
    display: block;
}


.pagination {
  display: inline-block;
    margin-top: 10px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/*
    pipeline results
 */

.pipeline-results-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pipeline-results-list .pipeline-results-hide-toggle {
    display: none;
}

.pipeline-results-list .pipeline-results-toggleable-content {
    display: none;
}

.pipeline-results-list .pipeline-results-hide-toggle:checked ~ .pipeline-results-toggleable-content,
.pipeline-results-list .pipeline-results-toggleable-content:has(.pipeline-results-hide-toggle:checked) {
    display: block;
}

.pipeline-results-list .result {
    padding: 0.5em 1em;
}

.pipeline-results-list .result:has(> .pipeline-results-hide-toggle:checked) {
    border: 1px solid black;
    padding: calc(0.5em - 1px) calc(1em - 1px);
}
