/* pipeline styles */
.pipeline-logs {
  background-color: var(--dark-one);
  padding: 5px;
  color: var(--dark-two);
  height: 50vh;
  overflow: auto;
}

.breadcrumbs{
    background-color: var(--dark-two);
    color: var(--white);
    padding: 1rem;
    margin-bottom: 15px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}

.text-bg-primary {
    color: #fff!important;
    background-color: RGBA(13,110,253,1)!important;
}

.text-bg-success {
    color: #fff!important;
    background-color: RGBA(25,135,84,1)!important;
}

.text-bg-danger {
    color: #fff!important;
    background-color: RGBA(220,53,69,1)!important;
}

.result-success {
    --table-color: #000;
    --table-bg: #d1e7dd;
    --table-border-color: #bcd0c7;
}

.result-pending {
    --table-color: #000;
    --table-bg: #E7DFD1FF;
    --table-border-color: #E7DFD1FF;
}

.result-danger {
    --table-color: #000;
    --table-bg: #f8d7da;
    --table-border-color: #dfc2c4;
}

.result-primary {
    --table-color: #000;
    --table-bg: #cfe2ff;
    --btable-border-color: #bacbe6;
}

.result-cancelled {
    --table-color: #000;
    --table-bg: var(--grey);
    --btable-border-color: var(--dark-two);
}

.result {
    color: var(--table-color);
    border-color: var(--table-border-color);
    background-color: var(--table-bg);
}

.result label {
    display: block;
}


.pagination {
  display: inline-block;
    margin-top: 10px;
}

.pagination a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/*
    pipeline results
 */

.pipeline-results-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pipeline-results-list .pipeline-results-hide-toggle {
    display: none;
}

.pipeline-results-list .pipeline-results-toggleable-content {
    display: none;
}

.pipeline-results-list .pipeline-results-hide-toggle:checked ~ .pipeline-results-toggleable-content,
.pipeline-results-list .pipeline-results-toggleable-content:has(.pipeline-results-hide-toggle:checked) {
    display: block;
}

.pipeline-results-list .result {
    padding: 0.5em 1em;
}

.pipeline-results-list .result:has(> .pipeline-results-hide-toggle:checked) {
    border: 1px solid black;
    padding: calc(0.5em - 1px) calc(1em - 1px);
}