{% load wildcoeus %}
{% with columns=component.columns %}
<div id="{{ component.key }}">
  <table id="{{ component.key }}_table" class="{{ component.css_classes }}" style="width:100%">
    <thead>
    {% for column in columns %}
      <th>{{ column.title|safe }}</th>
    {% endfor %}
    </thead>
    <tbody>
    {% for row in rendered_value.data %}
    <tr>
      {% for column in columns %}
      <td>{{ row|lookup:column.data|safe }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endwith %}