<div id="{{ component.key }}">
  <table id="{{ component.key }}_table" class="{{ component.css_classes.table }}" style="width:100%"></table>
</div>

{% with data_key="data_"|add:component.key columns_key="columns_"|add:component.key %}
  {% if not component.is_deferred %}
    {{ rendered_value|json_script:data_key }}
  {% endif %}
  {{ rendered_value.columns_datatables|json_script:columns_key }}
  <script type="module">
      var columns_{{ component.key }} = JSON.parse(document.getElementById('{{ columns_key }}').textContent);

      {% if not component.is_deferred %}
          let data_{{ component.key }} = JSON.parse(document.getElementById('{{ data_key }}').textContent);
          let rows_{{ component.key }} = data_{{ component.key }}.data;

          var options = {
              data: rows_{{ component.key }},
              columns: columns_{{ component.key }},
              pageLength: {{ component.page_size|default:25 }},
              scrollX: true,
              searching: {{ component.searching|yesno:"true,false" }},
              paging: {{ component.paging|yesno:"true,false" }},
              info: {{ component.paging|yesno:"true,false" }},
              ordering: {{ component.ordering|yesno:"true,false" }},
          }

      {% else %}
          $.ajaxSetup({
             headers: { "X-CSRFToken": JSON.parse(document.body.getAttribute("hx-headers"))["X-CSRFToken"]}
          });
          var options = {
              destroy: true,
              scrollX: true,
              processing: true,
              serverSide: true,
              searching: {{ component.searching|yesno:"true,false" }},
              paging: {{ component.paging|yesno:"true,false" }},
              info: {{ component.paging|yesno:"true,false" }},
              ordering: {{ component.ordering|yesno:"true,false" }},
              columns: columns_{{ component.key }},
              pageLength: {{ component.page_size|default:25 }},
              ajax: {
                  url: "{{ component.get_absolute_url }}",
                  type: "POST",
                  dataFilter: function(data){
                    let json = jQuery.parseJSON( data );
                    json.recordsTotal = json.total;
                    json.recordsFiltered = json.filtered;
                    return JSON.stringify( json );
                }
              }
          }
      {% endif %}

      var table_{{ component.key }} = $('#{{ component.key }}_table').DataTable(options);
  </script>
{% endwith %}


