{% extends "wildcoeus/dashboards/base.html" %}
{% load static %}
{% load wildcoeus %}

{% block wildcoeus_js %}
    {{ block.super }}
    {% include "wildcoeus/dashboards/includes/static/js.html" %}
{% endblock %}

{% block wildcoeus_style %}
    {{ block.super }}
    {% include "wildcoeus/dashboards/includes/static/style.html" %}
{% endblock %}

{% block body %}
    {% include "demo/menu.html" %}

    {% block content_title %}
        <h2>{{ dashboard._meta.verbose_name }}</h2>
    {% endblock content_title %}

    {% block content %}
        <div class="dashboard-container">
            {% render_dashboard dashboard %}
        </div>
    {% endblock %}

{% endblock %}