{% extends "datorum/dashboards/base.html" %}
{% load static datorum %}

{% block menu %}
    {% dashboard_urls "kitchensink" as kitchensink %}
    {% dashboard_urls "vehicle" as vehicle %}

    <nav role="navigation">
        <ul class="menu">
            <li class="{% if  dashboard.Meta.app_label == "kitchensink" %}active{% endif %}">
                <a href="{{ kitchensink.0.1 }}">Kitchen Sink</a>
                <ul class="dropdown">
                    {% for name, url in kitchensink.items %}
                        <li class="{% if request.path == url %}active{% endif %}">
                            <a href="{{ url }}">{{ name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="{% if  dashboard.Meta.app_label == "vehicle" %}active{% endif %}">
                <a href="{{ vehicle.0.1 }}">Vehicle</a>
                <ul class="dropdown">
                    {% for name, url in vehicle.items %}
                        <li class="{% if request.path == url %}active{% endif %}">
                            <a href="{{ url }}">{{ name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </nav>
    <hr/>

{% endblock %}