{% comment %}
    Use SSE to stream data from a chart.

    - Values are added inside the sse-swap element
    - Hyperscript then triggers updateTrace() which appends data to the chart. Update trace only keeps the latest 25
    - Initial chart is called simply by including the base chart template.
{% endcomment %}

<script type="text/javascript">
    function updateTrace() {
        let value = document.getElementById("sse-value-{{ component.key }}").innerText

        Plotly.extendTraces('{{ component.key }}', {
            y: [[value]]
        }, [0], 25)
    }
</script>

<div id="sse-value-{{ component.key }}"
     hx-ext="sse" sse-connect="{{ component.pushpin_url }}"
     sse-swap="{{ component.key }}" style="display: none;"
     _="on htmx:afterSettle call updateTrace()">
</div>

{% include "datorum/components/chart/chart.html" %}