<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Datorum | {% block title %}{{ dashboard.Meta.name }}{% endblock title %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block datorum_head %}{% endblock datorum_head %}
        {% block datorum_style %}{% endblock datorum_style %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% block content_title %}{% endblock content_title %}
        <div class="content">
            {% block content %} {% endblock content %}
        </div>
    </body>
</html>