{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Datorum | {% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{% static 'datorum/js/htmx.min.js' %}"></script>
    <script src="{% static 'datorum/js/htmx.debug.min.js' %}"></script>
    <script src="{% static 'datorum/js/htmx.sse.min.js' %}"></script>
    <script src="{% static 'datorum/js/hyperscript-0.9.7.min.js' %}"></script>
    <script src="{% static 'datorum/js/alpine-3.10.3.js' %}" defer></script>

    <link rel="stylesheet" href="{% static 'datorum/css/styles.css' %}">
    {% block extra_head %}{% endblock extra_head %}
</head>
<body class="{% block body_class %}{% endblock body_class %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <h1>Coeus</h1>
    <hr />
    <div>
    <a href="{% url "datorum.pipelines:list" %}">Pipeline List</a>
    </div>
    <hr />
    {% block body %}
    <h2>{% block content_title %}{% endblock content_title %}</h2>
    <div class="content">
        {% block content %} {% endblock content %}
    </div>
    {% endblock body %}
    {% block extra_script %}
    {% endblock %}
</body>
</html>