{% extends "datorum/base.html" %}
{% block menu %}
  <small>
    <a href="{% url "dashboards:demodashboardone_dashboard" %}">As grid</a> :
    <a href="{% url "dashboards:demodashboardonevary_dashboard" %}">As vary grid</a> :
        <a href="{% url "dashboards:demodashboardonediv_dashboard" %}">As div</a> :
        <a href="{% url "dashboards:demodashboardonecustom_dashboard" %}">Custom template</a>
        <a href="{% url "dashboards:demodashboardadmin_dashboard" %}">Admin Only</a>
    </small>
    <hr/>
{% endblock %}