{% extends "datorum/base.html" %}
{% block menu %}
  <small>
    <a href="{% url "datorum:dashboards:demodashboardone_dashboard" %}">As grid</a> :
    <a href="{% url "datorum:dashboards:demodashboardonevary_dashboard" %}">As vary grid</a> :
        <a href="{% url "datorum:dashboards:demodashboardonediv_dashboard" %}">As div</a> :
        <a href="{% url "datorum:dashboards:demodashboardonecustom_dashboard" %}">Custom template</a> :
        <a href="{% url "datorum:dashboards:demodashboardgridtemplate_dashboard" %}">Custom Grid</a> :
        <a href="{% url "datorum:dashboards:demodashboardadmin_dashboard" %}">Admin Only</a>
    </small>
    <hr/>
{% endblock %}