html {
  font: $font-normal;
  height: 100%;
  letter-spacing: 0.88px;
}

body {
  height: 100%;
  margin: 0;
  background-color: $offWhite;
}

.footer {
  background-color: $font-primary;
  color: $white;
  display: flex;
  height: 10rem;

  p {
    margin: auto;
  }
}

a {
  color: $font-primary;
  text-decoration: none;

  :hover {
    color: $font-secondary;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: $green;
}

h1 {
  font: normal normal $font-weight-heavy 28px/37px $font;
  letter-spacing: 1.12px;
}

h2 {
  font: normal normal $font-weight-heavy 24px/34px $font;
  letter-spacing: 1.4px;
}

.btn {
  background-color: $blue;
  border-radius: 24px;
  color: $white;
  cursor: pointer;
  font: normal normal $font-weight-heavy 18px/24px $font;
  letter-spacing: 0.9px;
  margin: auto;
  min-width: 125px;
  padding: 0.7rem 2rem;
  text-align: center;

  &:hover {
    color: $font-secondary;
  }

  &.sm {
    font-size: 0.9em;
    padding: 0.5rem 1rem;
  }

  &.inverse {
    background-color: $white;
    color: $font-primary;
  }
}
