$black: rgb(36, 39, 40);
$blue: rgb(60, 187, 221);
$green: rgb(58, 78, 208);
$white: rgb(255, 255, 255);
$offWhite: rgb(250, 250, 250);

$font-primary: $black;
$font-secondary: $black;
$font-invert: $white;

$shadow: rgba(154, 161, 171, 0.15)
