@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap');

$font: roboto;
$font-alt: roboto mono;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-heavy: 900;

$font-normal: normal normal $font-weight-normal 16px/21px $font;
$font-medium: normal normal $font-weight-bold 16px/21px $font;
