#
# Project requirements
#


# Specific for this demo only.
# TODO until pip installable
-e ../../
envdir
django_configurations
django_eventstream
django_silk
faker
httpx
model_bakery
plotly
psutil
psycopg2
pandas
plotly_express
whitenoise
